<!DOCTYPE html>
<html>

  <head>
    <title>Dungeon Hunter</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/master.css">
    <link href="https://fonts.googleapis.com/css?family=Eagle+Lake" rel="stylesheet">
  </head>

  <body>
    <div class=" row hero-image">
      <center>
        <h1 class="game-title">Dungeon Hunter</h1>
        <a href="#character">
          <button id="fade1" class="start-btn">Click to start your adventure...</button>
        </a>
      </center>
    </div>
    <div id="character" class="character-create">
      <div id="character-image" class="character-img col-xs-4">
        <center class="avatars">
          <h3 id="remove-create-label">Create your character...</h3>
          <img id="warrior-image" src="images/warrior.jpg">
          <button id="fighter" class="character-create-buttons">New Character</button>
          <div class="character-name">
            <button id="character-name" class="character-create-buttons">Generate a name</button>
            <br>
            <br>
            <h3 id="random-name"></h3>
          </div>
        </center>
        <br>
        <section id="character-stats">
          <p id="constitution-value">Con:</p>
          <p id="strength-value">Str:</p>
          <p id="dexterity-value">Dex:</p>
          <p id="intelligence-value">Int:</p>
          <p id="hitpoints-value">HP:</p>
        </section>
        <section id="action-buttons" class="action-buttons">
          <button id="move-btn" class="control-buttons">Move</button>
          <button id="attack-btn" class="control-buttons">Attack</button>
          <button id="parry-btn" class="control-buttons">Parry</button>
          <!-- <a href="#run-img">
            <button id="run-btn" class="control-buttons">Run!</button>
          </a> -->
        </section>
      </div>
      <div class="dice-buttons col-xs-7 text-center">
        <center>
          <h3 id="roll-intro">Roll your stats....</h3>
        </center>
        <img id="constitution" src="images/dice.jpg" style="height: 20%; width: 20%">
        <br>
        <img id="strength" src="images/dice.jpg" style="height: 20%; width: 20%">
        <br>
        <img id="dexterity" src="images/dice.jpg" style="height: 20%; width: 20%">
        <br>
        <img id="intelligence" src="images/dice.jpg" style="height: 20%; width: 20%">
        <br>
        <img id="hitpoints" src="images/dice.jpg" style="height: 20%; width: 20%">
        <center>
          <button id="adventure-btn">Continue....</button>
        </center>
        <section id="enemy-section">
          <h5 id="enter-dungeon-text">You enter the dungeon. Click MOVE to continue....</h5>
          <img id="starting-map" src="images/map1.jpg">
          <br>
          <h5 id="movement-update"></h5>
          <p id="total-steps"></p>
          <br class="clr">
          <figure>
            <center class="buffer">
              <img id="monster-image" src="images/orc.jpg" style="height: 25%; width: 25%; margin-top: -7%;">
              <br clas="clr">
              <h3 id="monster-display-name"></h3>
              <br>
              <p id="attack-text"></p>
              <br>
              <h4 id="enemy-hitpoints"></h4>
              <h4 id="player-hitpoint-tally"></h4>
              <br>
              <p id="player-combat-result"></p>
              <p id="enemy-combat-result"></p>
              <br>
              <p id="battle-rounds"></p>
              <p id="battle-winner"></p>
              <form id="play-again-button">
                <input type="button" onClick="history.go(0)" value="Play Again!">
              </form>
            </center>
          </figure>
        </section>
      </div>
    </div>
    <!-- <div class="running-away text-center">
      <img id="run-img" src="images/orc.jpg" style="width: 20%;">
      <h3 id="run">You can't escape me....</h3>
      <a href="#character">
        <button id ="go-back" class="character-create-buttons">Get back to fighting!</button>
      </a>
    </div> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js " integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin=" anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js " integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa " crossorigin="anonymous "></script>
    <script src="scripts/dice.js "></script>
    <script src="scripts/fadein.js "></script>
    <script src="scripts/scroll.js "></script>
    <script src="scripts/hide.js "></script>
  </body>

</html>